#yos{
    display: flex;
    justify-content: space-between;
    color: white;
}
#four{
    width: 180px;
    height: 150px;
    
}
#two{
     /* background-image: url(ground.jpg);
     background-repeat: no-repeat;
     background-size: cover; */
     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,41,1) 35%, rgba(0,255,93,1) 100%);
     border: 3px solid black;
     position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
body{
    background-color: darkseagreen;
    text-align: center;
}

.chair{
    font-size: 20px;
    background-color: rgb(6, 5, 5, 0.8);
    color: white;
    border: 2px solid #000; border-radius: 10px; padding: 10px; width: fit-content;
    display: flex;
    align-items: center;
}

#dyanna{
      display:flex;
      justify-content: center;
      font-size: 50px;
      text-decoration: underline;
}
/* #computer {
    box-shadow: 10px 10px 4px #4444dd;
} */
#chrome:hover{
    box-shadow: 10px 10px 4px red;
    
}

iframe {
    padding-left: 10px;
}

#computer:hover {
    box-shadow: 10px 10px 4px #4444dd;
}

#computer {
    padding-left: 10px;
}

#flag:hover{
    box-shadow: 10px 10px 4px purple;
}

a:visited{
    color: white;
}

.high {
    display: flex;
    align-self: center;
    padding-right: 50px;
}
button {
    font-size: 30px;
    background-color: rgb(7, 255, 7);
    border: rgb(7, 255, 7);
    margin: 20px;
    border-radius: 25px;
}


